/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.spacer {
  flex: 1 1 auto;
}

.content {
  padding: 24px 16px;

  .navigation {
    display: flex;
    padding: 16px 0;

    mat-icon {
      padding: 0 8px 4px 8px;
    }

    h2 {
      margin: 0;
    }
  }
}

.legend {
  font-size: 0.75rem;
  color: rgba(0, 0, 0, 0.4);
  position: relative;
  top: -16px;
}
